body {
    text-align: center;
    margin: 0;
}

header {
    background-color: darkgoldenrod;
    padding: 3px 20px;
    color: black;
}

main {
    width: 75%;
    height: 10rem;
    margin: 35px auto;
}

h2 {
    color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

p {
    line-height: 20px;
	font-size: 18px;
}